@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600;6..72,700&display=swap');

@tailwind base;
.font-newsreader{
  font-family: 'Newsreader', serif;
}

body{
  font-family: 'Figtree', sans-serif;
}

.bg-header{
  background: linear-gradient(0deg, rgba(51, 51, 39, 0.2), rgba(51, 51, 39, 0.2)), url('../public/MattxSylvie.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery-card {
    background-size: 100%;
    -webkit-transition: all 0.3s ease-in-out;
}

.gallery-card:hover {
    background-size: 110%;
}
@tailwind components;
@tailwind utilities;
